*{
	box-sizing: border-box;
}
#body{
	background-color: black;
	font-size: 16px;
	background-size: contain;
}

.pepsi{
	background-color: #004B93;
	text-align: center;
	background-size: contain;
	margin-left: 350px;
	margin-right: 450px;

	transform: translate(0px,105px);
	border-radius: 20px;
	opacity: .7;
	box-shadow: 1px 1px 13px #EB0029;
	


}
.image{
	transform: translate(-90px,30px);
	height: 20vh;
	mix-blend-mode: multiply;
	text-align: right;


	
}
body{
	background-color: #302929;
}
h1{
	transform: translateY(10px);
	color: white;
}
#funny{
	color: #FFFFFF;
	text-align: justify;
	transform: translateY(-90px);
	padding-left: 30px;
	font-style: italic;

}

.Shop{
	transform: translate(-180px, -50px);
	background-color: red;
	color: white;
	text-align: left;
	padding-left: 10px;
	margin-left: 210px;
	margin-right: 230px;
	border-radius: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: right;
	padding-right: 15px;
	font-style:italic;
	opacity: .9;


}
p{
	color: white;
}

@media (max-width: 480px) {
	body {
	  font-size: 0.8rem;
	}
	.pepsi {
	  margin-left: 2%;
	  margin-right: 2%;
	  transform: translate(0px, 50px);
	}
	
	#funny {
	  transform: translateY(-50px);
	}
  }

  
  
  @media (max-width: 320px) {
	body {
	  font-size: 0.7rem;
	}
	.pepsi {
	  margin-left: 1%;
	  margin-right: 1%;
	  transform: translate(0px, 30px);
	}
	
	#funny {
	  transform: translateY(-30px);
	}
  }
  

